.okr-card {
    display: flex;
    align-items: center;
}

.okr-card__button {
    background: none;
    border: none;
    margin-right: 8px;
    transform: rotate(270deg);
    transition: transform cubic-bezier(0.21, 0.64, 1, 1);
}

.okr-card__button.active {
    transform: rotate(0deg);
}

.okr-card__button::before {
    content: "▼";
    cursor: pointer;
}

.okr-card__content{
    display: flex;
    max-width: 60%;
    border-left: 1px solid gray;
    margin-left: 2.5rem;
}

@media screen and (max-width: 850px) {
    .okr-card__content {
        max-width: 100%;
    }
}

.okr-card__content:nth-child(even) {
    background-color: #F7F7F7;
}
