@import "src/styles/colors";

.modal {
  background-color: rgba(10, 10, 10, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;

  &__wrapper {
    overflow: auto;
    border-radius: 0.5rem;
    position: relative;
    max-width: 50%;
    max-height: 45rem;
    margin: auto;
    flex: 1 0 0;
    background-color: white;
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__header {
    display: flex;
    text-align: center;
    padding: 0 2rem;
    justify-content: center;
    background-color: $dark-grey;
    color: white;
  }

  &__content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;

    span {
      padding: 0.5rem;

      b {
        text-transform: uppercase;
      }
    }

    span:nth-child(odd) {
      background-color: $light-grey;
    }
  }

  &__footer {
    text-align: center;
    padding: 1rem;

    button {
      height: 2rem;
      width: 8rem;
      cursor: pointer;
      background-color: #f7f7f7;
      border-radius: 4px;
    }

    button:hover {
      background-color: $dark-grey;
      color: white;
    }

  }
}

@media screen and (max-width: 850px) {
  .modal {
    height: 100vh;
    width: 100vw;

    &__wrapper {
      max-width: unset;
      max-height: 100vh;
    }
  }
}