.dropdown {
    padding-bottom: 0.625rem;
    font-size: 1rem;
    display: block;
    text-align-last: center;
}

.dropdown select {
    cursor: pointer;
    font-size: 1rem;
    min-width: 10rem;
    border-radius: 3px;
}

@media screen and (max-width: 850px) {
    .dropdown label {
        margin-left: 2rem;
    }
}



